<header>
  <%= nav_bar :static => :top do %>
    <%= menu_group :pull => :right do %>
      <div class="pull-right user_padding">
        <%= @spotify_user.display_name + "  " %>
        <%= image_tag(@spotify_user.images[0].url, class: "user_img" ) %>
      </div>
    <% end %>
  <% end %>
</header>
<div class="container">
  <div class="row" style="text-align: center;padding-bottom: 67px;">
    <div class="col-xs-12" style="padding-bottom: 10px;">
    </div>
    <%= form_tag(home_playlist_path, method: "get", remote: true, format: :js) do %>
      <%= hidden_field_tag("color_selected", "") %>
      <%= submit_tag("", class: 'btn btn-lg btn-default  circle', id: "the_color") %>
    <% end %>
    <br>
    <div id="div_player" class="col-md-12 "  >
    </div>
  </div>
</div>
<%= render 'info'%>
<footer class="mastfoot">
  <div class="inner">
    <p><%= t('links.desenvolvido_por')%> <a href="https://twitter.com/jonjts"  target="_blank">@jonjts</a></p>
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function() {
                              var animate_loop, colors, i;
                              colors = ['#58EC00', '#0087EC', '#CC0000', '#FF5A00'];
                              i = 0;
                              animate_loop = function() {
                                $('.btn').addClass('magictime vanishIn');
                                var c = colors[i++ % colors.length];
                                $('#color_selected').val(c);
                                $('#the_color').animate({
                                  backgroundColor: c}, 3000, function() {
                                    animate_loop();
                                  });
                              };
                              animate_loop();
                            });
                             document.addEventListener("turbolinks:load", function() {
  
                             });
</script>